@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    background-color:#262827;
    font-family: 'Lobster', cursive;
}
#signoimg{
width: 21rem;
border-radius: 10px;
}

.card{
    background-color: whitesmoke;
    width: 23rem;
  
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translateY(23vh);
}
#botao{
    width: 10rem;
}